{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "react/jsx-handler-names": "off",
    "react/jsx-fragments": "off"
  }
}
